.top-ttl{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.txt{
  line-height: 2;
  margin-bottom: 1rem;
}

.section-ttl{
  margin: 0;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;

  &_p{
    padding: 2rem 0;
    line-height: 2;
  }
}

.after{
  display: block;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  width: 100px;
  margin: 0 auto 0;
  background-color: #111;
  text-align: center;

&:before{
  content: '';
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  width: 160px;
  left: -30px;
  }
}
