/*---------------------------------

  変数

---------------------------------*/
// 画面サイズ
$container_size: 1068px;

$pc: $container_size;

$mq_pc: 'screen and (min-width: #{$container_size})';
$mq_tab: 'screen and (min-width: 560px)';
$mq_sp: 'screen and (max-width: 480px)';

// メインカラー
$c-main: #333; 

//サブカラー
$c-sub: #9ACB3C;

//アクセントカラー
$c-accent: #00ACBA;

//背景色
$c-bg: #000;

//テキスト色
$c-txt: #fff;

//box-shadow
$box-shadow: 0 4px 16px rgba(0,0,0,0.08); 

/*---------------------------------

  全体共通

---------------------------------*/
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $c-txt;
  background: $c-bg;
  font-family: YuMincho,游明朝,"秀英丸ゴシック B", ShueiMGoStd-B, "游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  letter-spacing: .8px;
  font-feature-settings: "palt";
}

.current_page_item, .current-menu-item{
  color: $c-accent;
  opacity: 0.8;
  border-bottom: 2px solid $c-accent;
}

.inner{
  padding-right: 6%;
  padding-left: 6%;
  max-width: 1200px;
  margin: 0 auto;
}

.hover{
  &:hover{
    opacity: 0.8;
  }
}

/*---------------------------------

  背景

---------------------------------*/
.bg{
  background: $c-bg;
}

.bg-accent{
  background: $c-accent;
}

/*---------------------------------

 余白

---------------------------------*/
%padding{
  padding: 1rem 0;
}

%padding-m{
  padding: 3rem 0;
}

.padding-m{
  padding: 5rem 0;
}

.padding-top{
  padding-top: 5rem;
}

/*---------------------------------

 flex

---------------------------------*/
.flex{
  display: flex;
}

@media #{$mq_sp}{
  .flex{
    display: block;
  }
}



/*---------------------------------

  パンくずリスト

---------------------------------*/
.breadcrumb-area{
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $c-main;

  .category{
    background: none;
    color: $c-main;
    font-weight: normal;
  }
}

.post-type-archive{
  .breadcrumb-area{
    background: $c-bg;
  }
}

/*---------------------------------

  pagination

---------------------------------*/
.wp-pagenavi{
  padding-bottom: 2rem;
  text-align: center;
}